@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(36, 100%, 99%);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
body p {
  color: hsl(236, 13%, 42%);
}
body .container {
  margin-top: 5rem;
  min-height: 90vh;
  width: 69.3rem;
}
body .container .center {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: start;
}

header {
  width: 100%;
  height: 6.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .display-menu {
  display: none;
}

main {
  width: 47rem;
  flex-grow: 1;
}
main .image {
  width: 45.4rem;
  height: 18.75rem;
}
main .image img {
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aside {
  width: 21.8rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.aside .menu-aside {
  background-color: hsl(240, 100%, 5%);
  padding: 0rem 1.4rem 0rem 1.4rem;
}
.aside .menu-aside .title-aside {
  width: 100%;
  height: 3rem;
  margin-top: 1.7rem;
}
.aside .menu-aside .title-aside h1 {
  font-size: 2.5rem;
  color: hsl(35, 77%, 62%);
}

footer {
  margin-top: 4.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(21.7rem, 1fr));
  grid-template-rows: minmax(8rem, auto);
  gap: 1.3rem;
  margin-bottom: 3rem;
}

.btn {
  width: 51%;
  height: 2.8rem;
  border: none;
  cursor: pointer;
}

.card-big {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 13.3rem;
}
.card-big .title-card-big {
  margin-top: 0.9rem;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.card-big .title-card-big h1 {
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 900;
}
.card-big .description-card-big {
  padding: 1.5rem 1rem 2rem 0rem;
  flex-grow: 1;
  width: 50%;
  height: 100%;
}
.card-big .description-card-big p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}
.card-big .description-card-big .btn-card-big {
  margin-top: 2.4rem;
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  letter-spacing: 0.4rem;
  font-size: 0.8rem;
  box-shadow: 0px 0px 2px hsl(236, 13%, 42%);
  text-shadow: 0px 0px 1px hsl(236, 13%, 42%);
}
.card-big .description-card-big .btn-card-big:hover {
  background-color: hsl(240, 100%, 5%);
}

.card-new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
  height: 9rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid hsl(236, 13%, 42%);
}
.card-new .title-article {
  margin-bottom: 0.6rem;
}
.card-new .title-article h2 {
  font-size: 1.29rem;
  color: hsl(36, 100%, 99%);
}
.card-new .title-article h2:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}
.card-new .description p {
  color: hsl(233, 8%, 79%);
  font-size: 0.94rem;
  line-height: 1.5rem;
}

.card-smoll {
  width: 21.7rem;
  height: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card-smoll .card-smoll-img {
  background-color: red;
  width: 6.2rem;
  height: 8rem;
}
.card-smoll .card-smoll-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-smoll .card-smoll-description {
  width: 14rem;
  height: 8rem;
  text-align: left;
}
.card-smoll .card-smoll-description .card-smoll-number h2 {
  font-size: 1.7rem;
  color: hsl(233, 8%, 79%);
  font-weight: 800;
}
.card-smoll .card-smoll-description .card-smoll-title {
  margin-top: 0.78rem;
}
.card-smoll .card-smoll-description .card-smoll-title h3 {
  font-size: 1.15rem;
  cursor: pointer;
  font-weight: 700;
}
.card-smoll .card-smoll-description .card-smoll-title h3:hover {
  color: hsl(5, 85%, 63%);
}
.card-smoll .card-smoll-description .card-smoll-text {
  margin-top: 0.64rem;
}
.card-smoll .card-smoll-description .card-smoll-text p {
  line-height: 1.45rem;
  font-size: 0.9rem;
  font-weight: 700;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.85rem;
}
.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
  font-weight: 400;
  font-size: 0.935rem;
  margin-right: 0.3rem;
}
.menu ul li {
  margin-left: 2.6rem;
}
.menu ul li a {
  cursor: pointer;
  text-shadow: 0px 0px 30px hsl(233, 8%, 79%);
  color: hsl(240, 100%, 5%);
  text-decoration: none;
}
.menu ul li a:hover {
  color: hsl(5, 85%, 63%);
}

.logo {
  width: 4rem;
  height: 2.7rem;
  margin-bottom: 2.8rem;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu-mobile {
  box-shadow: 0px 0px 2px hsl(233, 8%, 79%);
  width: 68.5%;
  background-color: hsl(36, 100%, 99%);
  position: absolute;
  top: 0px;
  right: 0px;
}
.menu-mobile .btn-menu-close {
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  padding-right: 1rem;
  cursor: pointer;
}
.menu-mobile .menu {
  width: 100%;
  height: 100vh;
  display: block;
}
.menu-mobile .menu ul {
  margin-top: 4rem;
  display: block;
}
.menu-mobile .menu ul li {
  margin-left: 1.45rem;
  text-align: left;
  font-size: 1.15rem;
  margin-top: 1.55rem;
}

.hidden {
  display: none;
}

@media (max-width: 62rem) {
  body {
    align-items: start;
  }
  body .container {
    margin-top: 0px;
    width: 90%;
  }
  body .container header .menu {
    display: none;
  }
  body .container header .display-menu {
    display: contents;
    cursor: pointer;
  }
  body .container .center main {
    width: 100%;
  }
  body .container .center main .image {
    width: 100%;
    height: 15.6875rem;
  }
  body .container .center main .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  body .container .center main .card-big {
    height: 100%;
  }
  body .container .center aside {
    width: 100%;
    padding-left: 0px;
  }
  body .container .center aside .menu-aside {
    width: 100%;
  }
}
@media (max-width: 40.625rem) {
  body .container header {
    height: 5.5rem;
  }
  body .container header .logo {
    width: 3rem;
    height: 1.7rem;
    margin-bottom: 0.3rem;
  }
  body .container .center main .image {
    height: 18.65rem;
  }
  body .container .center main .card-big {
    margin-top: 0.65rem;
  }
  body .container .center main .card-big .title-card-big h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  body .container .center main .card-big .description-card-big {
    width: 100%;
    padding-top: 1.1rem;
  }
  body .container .center main .card-big .description-card-big p {
    font-size: 0.91rem;
    line-height: 1.6rem;
  }
  body .container .center main .card-big .description-card-big .btn-card-big {
    margin-top: 1.7rem;
    width: 56%;
  }
}

/*# sourceMappingURL=style.css.map */
