.aside {
    width: 21.8rem;
    flex-grow: 1; 
    @include flex(column, center, start);
    .menu-aside {
        background-color: $color-very-dark-blue; 
        padding: 0rem 1.4rem 0rem 1.4rem; 
        .title-aside {
            @include size(100%, 3rem);
            margin-top: 1.7rem;
            h1 {
                font-size: 2.5rem;
                color: $color-soft-orange;
            }
        }
    }


}