.card-big{
    @include flex-grap(center, center);
    @include size(100%, 13.3rem);
    .title-card-big {
        margin-top: 0.9rem;
        @include size(50%, 100%);
        @include flex(column, center, center);
        flex-grow: 1;
        h1 {
    
            font-size: 3.5rem;
            line-height: 3.5rem;
            font-weight: 900;
        }
    }
    .description-card-big{
        padding: 1.5rem 1rem 2rem 0rem;
        flex-grow: 1;
        @include size(50%, 100%);
        p {
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 400;
        }
        .btn-card-big {
           margin-top: 2.4rem;
           background-color: $color-sof-red;
           color: $color-off-white; 
           letter-spacing: 0.4rem;  
           font-size: 0.8rem;
           box-shadow: 0px 0px 2px $color-dark-rayish-blue;
           text-shadow: 0px 0px 1px $color-dark-rayish-blue;  
        }
        .btn-card-big:hover {
            background-color: $color-very-dark-blue;
        }
    }
}