.card-smoll {
    // flex-grow: 1;
    

    @include size($width-card-smoll, $height-card-smoll); 
    @include flex(row, space-between, center);
    .card-smoll-img {
        background-color: red;
        @include size($width-img-card-smoll, $height-card-smoll);
        img {
            @include img-fluid(cover);
        }

    }
    .card-smoll-description {
        
        @include size($width-description-card-smoll, $height-card-smoll);
        text-align: left;
        .card-smoll-number {
            
             
            h2 {
                font-size: 1.7rem;
                color: $color-grayish-blue;
                font-weight: 800;
            }

        }
        .card-smoll-title {
            
            margin-top: 0.78rem;;

            h3{
                font-size: 1.15rem;
                cursor: pointer;
                font-weight: 700;
                
            }
            h3:hover{
                color: $color-sof-red;
            }
        }
        .card-smoll-text{
            margin-top: 0.64rem;
            p {
                line-height: 1.45rem;
                font-size: 0.9rem;
                font-weight: 700;
            }

        }

    }
    
}
