@media (max-width: $screen-smoll){
    body {
        align-items: start;
        .container {
            margin-top: 0px;
            width: 90%;
            header{
                .menu {
                    display: none;
                }
                .display-menu {
                    display: contents;
                    cursor: pointer;
                }
            }
            .center{
                main {
                    width: 100%;
                    .image {
                        @include size(100%, 15.6875rem);
                        img {
                            @include img-fluid(cover);
                        }
                    }
                    .card-big {
                        height: 100%;   
                    }   
                }
                aside {
                    width: 100%;
                    padding-left: 0px;
                    .menu-aside {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: $screen-XSmoll){
    body .container {
        header {
            height: 5.5rem;
            .logo{
                @include size(3rem, 1.7rem);
                margin-bottom: 0.3rem;
            }
        }
        .center main {
            .image {
                height: 18.65rem;
            }
            .card-big {
                margin-top: 0.65rem;                   
                .title-card-big {
                   h1 {
                    font-size: 2.5rem;
                    line-height: 2.5rem;
                   }
                }
                .description-card-big {
                    width: 100%;
                    padding-top:1.1rem ;
                    p{
                        font-size: 0.91rem;
                        line-height: 1.6rem;
                    }
                    .btn-card-big {
                        margin-top: 1.7rem;
                        width: 56%;
                    }
                }
        
                
            }
        }
    }
    

        
    


}