
body {
    background: $color-off-white;
    font-family: $theme-text;
    font-size: 16px;
    @include flex(row, center, center);
    min-height: 100vh;
    p {
        color: $color-dark-rayish-blue;
    }
    
    .container {
        margin-top: 5rem;
        min-height: 90vh;
        width: 69.3rem;        
        .center{
            @include flex-grap(flex-start, start);
        }
        
    }
}



